includes:
    - %currentWorkingDirectory%/vendor/a8cteam51/team51-configs/quality-assurance/phpstan.dist.neon

parameters:
    scanDirectories:
        - %currentWorkingDirectory%/plugins
    paths:
        - %currentWorkingDirectory%/themes/codelagoon
    WPCompat:
        pluginFile: %currentWorkingDirectory%/themes/codelagoon/style.css
