includes:
    - %currentWorkingDirectory%/vendor/a8cteam51/team51-configs/quality-assurance/phpstan.dist.neon

parameters:
    scanDirectories:
        - %currentWorkingDirectory%/plugins
    paths:
        - %currentWorkingDirectory%/mu-plugins/codelag-features
    WPCompat:
        pluginFile: %currentWorkingDirectory%/mu-plugins/codelag-features/codelag-features.php
